@import "../material/material.scss";

@mixin createvacancy {
  @include material;

  .createvacancyview {
    background: #32373a;
    overflow: auto;
  }

  .v-slot-create-vacancy-view-body {
    height: 100%;
  }

  .create-vacancy-view-body {
    height: 89vh;
  }

  .create-vacancy-content-grid {
    margin-top: 10px;
  }

}