@import "../material/material.scss";

@mixin login {
  @include material;

  .loginview {
    background-image: url("img/jorik-kleen-1281232-unsplash.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: auto;
  }
  .v-panel-caption-login{
    font-size: 20px;
  }

  .v-verticallayout-login-component {
    margin-top: 10%;
    height: 90vh;
  }
}