@import "../material/material.scss";

@mixin main {
  @include material;

  .mainView{
    background-image: url("img/jorik-kleen-1281232-unsplash.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: auto;
  }
  .v-slot-main-component {
    margin-top: 50px;
  }

  .maincompany-component {
    background: rgba(50, 55, 58, 0.25);
    padding: 20px 10px;
  }

  .maincompany-component-header {
    font-size: 22px;
  }

  .maincompany-component .v-gridlayout-spacing-on {
    height: 5px;
  }

  .v-verticallayout-mainView{
    color: #fff;
  }

  .v-label-mainview-label-klein{
    font-size: 35px;
    text-align: center;
  }

  .v-slot-mainview-label-klein{
    padding-top: 50px;
  }

  .v-label-mainview-label{
    font-size: 70px;
    text-align: center;
  }

  .v-slot-mainview-label{
    padding-bottom: 90px;
  }

  .v-gridlayout-mainview-searchlayout{
    font-size: 20px;
  }

  .v-slot-studentPanels {
    margin-top: 100px;
  }
}