$v-app-loading-text: "Coll@HBRS - by Macrosoft";
$mat-custom-color: #fff;
$v-font-color: #32373a;

@import "../material/material.scss";
@import "addons";
@import "registration";
@import "main";
@import "login";
@import "search";
@import "createvacancy";
@import "profile";
@import "vacancy";
@import "help";

@mixin mytheme {
  @include material;
  @include addons;
  @include registration;
  @include main;
  @include login;
  @include search;
  @include createvacancy;
  @include profile;
  @include vacancy;
  @include help;

  .darkLayout-navbar {
    background: rgba(50,55,58,0.25);
    color: #fff;
    padding: 10px;
  }
  .views {
    background: #32373a;
    overflow: auto;
  }
  .v-button-wrap {
    white-space: nowrap;
    overflow: hidden;
  }
  .v-slot-darkLayout-navbar {
    max-height: 90px;
  }
  .v-verticallayout-navbar {
    padding: 0;
  }
  .v-verticallayout {
    Padding: 0;
  }
  .v-menubar-menuitem-caption {
    color: #fff;
  }
  .v-image-logo {
    cursor: pointer;
  }
  .select-component {
    background: #fff;
    color: #32373a;
  }
  .profileImages {
    max-width: 200px;
    margin: 15px 15px 0 0;
    height: auto;
    overflow: hidden;
    border: #32373a;
  }
  .hc-vacancies .v-label-bold {
    font-size: 18px;
  }
  span.v-icon {
    margin-right: 5px;
  }
  .horizontalcard-button {
    padding: 0 5px;
    text-align: left;
  }
  .horizontalcard-namelabel {
    padding: 0 20px;
  }
  .gridlayout-detailscard {
    padding: 10px;
  }
}
