@import "../material/material.scss";

@mixin profile {
  @include material;

  .profileview {
    height: 100vh;
    color: #fff;
  }

  .v-verticallayout-profile-components > .v-slot {
    padding: 10px 0;
  }

  .profileview-gridlayout .v-gridlayout-spacing-on {
    height: 10px;
  }
  .profileview .profileImages {
    border-radius: 3px;
  }
  .profile-components {
    background: #fff;
    color: #32373a;
  }
  .profilebody-components .v-gridlayout-spacing-on {
    height: 10px;
  }
  span.v-icon {
    margin-right: 5px;
  }
  .profile-components .v-icon {
    color: #0072C6;
  }

  .v-panel-caption-student-panel > span {
    font-size: 24px;
  }

  .gridPadding {
    padding: 20px;
  }

  .v-panel-content-student-panel > v-verticallayout {
    padding: 10px 20px;
  }
  .profilepicpanel {
    width: 200px;
  }
}