@import "../valo/valo.scss";

@mixin registration {
  @include valo;

  .v-label.valid {
    display:none;
  }
  .registration {
    background-image: url("img/jorik-kleen-1281232-unsplash.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: auto;
  }
  .RegisterContainer{
    width: 100%;
  }
  .registration{
    width: 55%;
  }
  .Input{
    width: 100%
  }
  .v-caption-valid {
    margin-left:10px;
  }
  .v-caption-validation-message {
    margin-left:10px;
    display:inline;
  }
  .v-label.validation-message {
    color:red;
    margin-left:10px;
  }
  .valid .v-label.validation-message {
    color:green;
  }
  .invalid .v-icon {
    color:red;
  }
  .valid .v-icon {

    color:green;

  }
}