@import "../material/material.scss";

@mixin search {
  @include material;

  .searchview .v-slot {
    height: auto;
  }
  .search-components {
    padding: 20px 0;
    background: #fff;
    color: #32373a;
  }
  .gridlayouts {
    padding: 15px 0;
  }
  .companycomponent-gridlayout {
    padding: 0 15px 15px;
  }
  .search-components .v-label {
    color: #32373a;
  }
  .companytitle-button {
    padding: 0;
  }
  .companytitle-button > span.v-button-caption {
    font-size: 22px;
  }
  .search-components .v-icon {
    color: #0072C6;
  }
  .search-gridlayout {
    background: #32373a;
  }

  .searchview-gridlayout .v-gridlayout-spacing-on {
    height: 20px;
  }
  .noresults-layout {
    padding: 10px;
  }
}