@import "../material/material.scss";

@mixin vacancy {
  @include material;

  .vacancy-components {
    background: #fff;
    color: #32373a;
  }

  .vacancy-components .v-icon {
    color: #0072C6;
  }

  .vacancy-components .v-gridlayout-spacing-on {
    height: 5px;
  }

  .v-verticallayout-vacancy-components {
    padding: 10px 0;
  }

  .v-verticallayout-vacancy-components > .v-slot {
    padding: 10px 0;
  }

}